{% extends 'appDjango/base.html' %}
{% block titulo %}Actualizar Familiar{% endblock %}
{% block contenido %}
            <div class="main__contenedor-principal__botones">
                <form action="/mi-familia/actualizar/{{ familiar.id }}" method="post"> 
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" id="boton-enviar">
                </form>
                <h2 style="color:green">{{msg_exito}}</h2>
                <a href="/mi-familia/"><h2>Volver a la lista de familiares</h2></a>
            </div>
        </div>
    </main>
{% endblock %}