{% extends 'appDjango/base.html' %}
{% block titulo %}Acutalizar Mascotas{% endblock %}
{% block contenido %}
            <div class="main__contenedor-principal__botones">
                <form action="/mis-mascotas/actualizar/{{ mascota.id }}" method="post"> 
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" id="boton-enviar">
                </form>
                <h2 style="color:green">{{msg_exito}}</h2>
                <a href="/mis-mascotas/"><h2>Volver a la lista de mascotas</a></a>
            </div>
        </div>
    </main>
{% endblock %}